<%= form_for  @evaluation, as: :evaluation, url: position_evaluations_path(@position,@evaluation), :html => {:class => 'well'} do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Add Evaluation</legend>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :engine, :placeholder => 'Engine' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.number_field :centipawns, :placeholder => 'Centipawns' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.number_field :ply, :placeholder => 'Ply Count' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.number_field :nNodes, :placeholder => 'Max Nodes' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :bestPath, :placeholder => 'Best Path' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
