<h1>Listing evaluations</h1>

<table>
  <tr>
    <th>Engine</th>
    <th>Centipawns</th>
    <th>Ply</th>
    <th>Nnodes</th>
    <th>Bestpath</th>
    <th></th>
  </tr>

<% @evaluations.each do |evaluation| %>
  <tr>
    <td><%= evaluation.engine %></td>
    <td><%= evaluation.centipawns %></td>
    <td><%= evaluation.ply %></td>
    <td><%= evaluation.nNodes %></td>
    <td><%= evaluation.bestPath %></td>
    <td><%= link_to 'Destroy', position_evaluation_path(@position,evaluation) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
