<p id="notice"><%= notice %></p>

<p>
  <b>Engine:</b>
  <%= @evaluation.engine %>
</p>

<p>
  <b>Centipawns:</b>
  <%= @evaluation.centipawns %>
</p>

<p>
  <b>Ply:</b>
  <%= @evaluation.ply %>
</p>

<p>
  <b>Nnodes:</b>
  <%= @evaluation.nNodes %>
</p>

<p>
  <b>Bestpath:</b>
  <%= @evaluation.bestPath %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
