<div class="row-fluid">
	<%# Left section with gameinfo and outoging and incomming moves %>
	<div class="span3">
		<% if @game %>
			<ul class="nav nav-list">
		 		<li class="nav-header">Game Info</li>
		 		<% white = @game.whitePlayer  %>
				<% black = @game.blackPlayer %>
				<% event = @game.event %>
			  	<table class="table table-hover table-condensed">
					<tr>
						<td>White</td>
					    <td><%= link_to white.name, white %></td>
					</tr>
					<tr>
						<td>Black</td>
					    <td><%= link_to black.name, black %></td>
					</tr>
					<% if @game.event %>
						<tr>
							<td>Event</td>
						    <td><%= link_to event.name, event %></td>
						</tr>
					<% end %>
					<% if @game.site %>
						<tr>
							<td>Site</td>
						    <td><%= @game.site %></td>
						</tr>
					<% end %>
					<tr>
						<td>Date</td>
					    <td><%= @game.date.strftime("%d.%m.%Y") %></td>
					</tr>
					<tr>
						<td>Result</td>
					    <td><%= @game.result %></td>
					</tr>
					<% if @game.mode %>
						<tr>
							<td>Mode</td>
						    <td><%= @game.mode %></td>
						</tr>
					<% end %>
					<tr>
						<td>ID</td>
					    <td><%= @game.id %></td>
					</tr>
			  	</table>
		 	</ul>
		<% end %>

		<% @moves = @position.outgoingMoves %>
		<%= render 'positions/list', :object => @moves, :forward => true %>

		<% @moves = @position.incomingMoves %>
		<%= render 'positions/list', :object => @moves, :forward => false %>
	</div>

	<%# center section with forward, backward links and the chessboard, which is generate by some small coffescript in the assets/javascripts folder (note the id and fen attributes in the canvas element) %>
	<div class="span6">
		<div align="center">
			<% if @game %>
				<% positionLinks = @game.positionLinks %>
				<% nHalfturns = 0 %>
				<% positionLinks.each do |link| %>
			      <% if link.end_node.id == @position.id %>
			        <% nHalfturns = link.getProperty('nHalfturns') %>
			      <% end %>
			    <% end %>
				<div class="btn-group">
				  <% if nHalfturns > 0 %>
				    <%= link_to 'Start', position_game_path(positionLinks.first.end_node,@game), :class => "btn btn-small" %> 
				    <%= link_to 'Backward', position_game_path(positionLinks[nHalfturns-1].end_node,@game), :class => "btn btn-small" %> 
				  <% else %>
				    <button class="btn btn-small disabled">Start</button>
				    <button class="btn btn-small disabled">Backward</button>
				  <% end %>
				  <% if nHalfturns+1 < @game.halfturns %>
				    <%= link_to 'Forward', position_game_path(positionLinks[nHalfturns+1].end_node,@game), :class => "btn btn-small" %>
				    <%= link_to 'End', position_game_path(positionLinks.last.end_node,@game), :class => "btn btn-small" %>
				  <% else %>
				    <button class="btn btn-small disabled">Forward</button>
				    <button class="btn btn-small disabled">End</button>
				  <% end %>
				</div>
			<% end %>
		</div>
		<div align="center">
			<canvas class="well" fen="<%= @position.simple_fen %>" id="mychessboard" width="400" height="400"></canvas>
			<p>
			  <b>Fen:</b>
			  <%= @position.fen %>
			</p>
		</div>
	</div>

	<%# game navigation on the right side %>
	<% if @game %>
		<div class="span3">
			<ul class="nav nav-list">
		 		<li class="nav-header">Game Moves</li>
				  <% k=0 %>
				  <% lastMove = nil %>
				  <% positionLinks.each do |link| %>
				  	<% if lastMove %>
					    <% if k%2 ==0 %>
					     <%="#{1+(k/2)}."%>
					      <% if link.end_node.id == @position.id %>
					        <b><%= link_to lastMove, position_game_path(link.end_node,@game) %></b>
					      <% else %>
					        <%= link_to lastMove, position_game_path(link.end_node,@game) %>
					      <% end %>
					    <% else %>
					      <% if link.end_node.id == @position.id %>
					        <b><%= link_to lastMove, position_game_path(link.end_node,@game) %></b>
					      <% else %>
					        <%= link_to lastMove, position_game_path(link.end_node,@game) %>
					      <% end %>
					    <% end %>
					    <% k+=1 %>
					   <% end %>
					   <% lastMove = link.getProperty('move') %>
				  <% end %>
			</ul>
		</div>	
	<% end %>
</div>


<%# show games notification, when the form (the show button) is pushed, an ajax request is sent to games_path which handles the respnse in a small js file (and hides the notification)%>

<% @games = @position.games %>

<div id="show_games" class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	There are <%= @games.count %> games containing this position.
	<div class="pull-right">
	<%= form_tag(games_path, method: "get", remote: true, id: "games_post") do %>
		        <%= hidden_field_tag(:pid, @position.id) %>
		        <%= submit_tag("Show") %>
		      <% end %>
	</div>
</div>

<div id="games_list">
</div>



<div class="row-fluid">
	<div class="span6">
		<legend>Comments</legend>
		<% @comments = @position.comments %>
		<%= render 'comments/list', :object => @comments %>
	</div>
	<div class="span5 offset1">
		<legend>Evaluations</legend>
		<% @evaluations = @position.evaluations %>
		<%= render 'evaluations/list', :object => @evaluations %>
	</div>
</div>

