<p>
  <b>Fen:</b>
  <%= @position.fen %>
</p>

<% @moves = @position.outgoingMoves %>
<%= render 'positions/list', :object => @moves, :forward => true %>

<% @moves = @position.incomingMoves %>
<%= render 'positions/list', :object => @moves, :forward => false %>

<% @games = @position.games %>
<p>
  <b>There are <%= @games.count %> games containing this position.</b>
</p>
<%= render 'games/list', :object => @games %>

<% @evaluations = @position.evaluations %>
<%= render 'evaluations/list', :object => @evaluations %>
<% @evaluation = Evaluation.new %>
<%= render 'evaluations/form', :object => @evaluation %>

<% @comments = @position.comments %>
<%= render 'comments/list', :object => @comments %>
<% @comment = Comment.new %>
<%= render 'comments/form', :object => @comment %>