<p id="notice"><%= notice %></p>
<%= form_tag("players", method: "get") do %>
  <%= label_tag(:q, "Player Name:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<%= form_tag("games", method: "get") do %>
  <%= label_tag(:name, "Game Name:") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Search") %>
<% end %>
<%= form_tag("games", method: "get") do %>
  <%= label_tag(:gid, "Game Id:") %>
  <%= text_field_tag(:gid) %>
  <%= submit_tag("Search") %>
<% end %>
<%= form_tag("positions", method: "get") do %>
  <%= label_tag(:q, "Position in FEN:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<%= form_tag("events", method: "get") do %>
  <%= label_tag(:q, "Event Name:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>