<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Site:</b>
  <%= @event.site %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<% @games = QueryController.getEventGames(@event)%>
<%= render 'games/list', :object => @games %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
