<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>White</th>
    <th>Black</th>
    <th>Event</th>
    <th>Date</th>
    <th>Site</th>
    <th>Halfturns</th>
    <th>Result</th>
    <th>Mode</th>
  </tr>
  <% white = QueryController.getWhitePlayer @game %>
  <% black = QueryController.getBlackPlayer @game %>
  <% event = QueryController.getEvent @game %>
  <tr>
    <td><%= @game.id %></td>
    <td><%= @game.name %></td>
    <td><%= link_to white.name, white %></td>
    <td><%= link_to black.name, black %></td>
    <td><%= link_to event.name, event %></td>
    <td><%= @game.date %></td>
    <td><%= @game.site %></td>
    <td><%= @game.halfturns %></td>
    <td><%= @game.result %></td>
    <td><%= @game.mode %></td>
  </tr>
</table>

<p>Game Moves</p>
<% moves = QueryController.getGameMoves @game.id %>
<table>
  <% k=0 %>
  <% moves.each do |move| %>
 
    <% if k%2 ==0 %>
     <tr>
      <td><%="#{1+(k/2)}."%></td>
      <td><%= link_to move.move, position_game_path(move.start_node,@game) %>
    <% else %>
      <td><%= link_to move.move, position_game_path(move.start_node,@game) %></td>
     </tr>
    <% end %>
    <% k+=1 %>
  <% end %>
  <% if k%2 ==0 %>
   <tr>
    <td><%="#{1+(k/2)}."%></td>
    <td><%= link_to @game.result, position_game_path(moves.last.end_node,@game) %>
    <td></td>
   </tr>
  <% else %>
    <td><%= link_to @game.result, position_game_path(moves.last.end_node,@game) %></td>
   </tr>
  <% end %>
</table>

<%= render "positions/show", :object => @position %>