<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>White</th>
    <th>Black</th>
    <th>Event</th>
    <th>Date</th>
    <th>Site</th>
    <th>Halfturns</th>
    <th>Result</th>
    <th>Mode</th>
  </tr>
  <% white = @game.whitePlayer  %>
  <% black = @game.blackPlayer %>
  <% event = @game.event %>
  <tr>
    <td><%= @game.id %></td>
    <td><%= @game.name %></td>
    <td><%= link_to white.name, white %></td>
    <td><%= link_to black.name, black %></td>
    <td><%= link_to event.name, event %></td>
    <td><%= @game.date %></td>
    <td><%= @game.site %></td>
    <td><%= @game.halfturns %></td>
    <td><%= @game.result %></td>
    <td><%= @game.mode %></td>
  </tr>
</table>

<p>Game Moves</p>
<% positions = @game.positionLinks %>
<table>
  <% k=0 %>
  <% positions.each do |pos| %>
 
    <% if k%2 ==0 %>
     <tr>
      <td><%="#{1+(k/2)}."%></td>
      <td><%= link_to pos.move, position_game_path(pos.end_node,@game) %>
    <% else %>
      <td><%= link_to pos.move, position_game_path(pos.end_node,@game) %></td>
     </tr>
    <% end %>
    <% k+=1 %>
  <% end %>
  <% if k%2!=0 %>
    <td></td>
   </tr>
  <% end %>
</table>

<%= render "positions/show", :object => @position %>