<h1>Listing commentaries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commentaries.each do |commentary| %>
  <tr>
    <td><%= commentary.title %></td>
    <td><%= commentary.body %></td>
    <td><%= link_to 'Show', commentary %></td>
    <td><%= link_to 'Edit', edit_commentary_path(commentary) %></td>
    <td><%= link_to 'Destroy', commentary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commentary', new_commentary_path %>
