<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>
<% render 'test' %>
<% @games = QueryController.getPlayerGames(@player)%>
<%= render 'games/game', :object => @games %>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
