<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>
<% @games = @player.games %>
<% stats = @player.stats %>
<p>
  <b>Total:</b>
  <%= stats[:all] %>
  </br>
  <b>Won:</b>
  <%= stats[:won] %>
  </br>
  <b>Drawn:</b>
  <%= stats[:drawn] %>
  </br>
  <b>Lost:</b>
  <%= stats[:lost] %>
  </br>
</p>
<%= render 'games/list', :object => @games %>
